.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

nav.navbar .form-control, nav.navbar .form-inline select {
    border-radius: 0px;
}

input.form-control {
    width: content-box;
}

nav.navbar .form-inline button {
    border-radius: 0px;
    background: cornflowerblue;
    color: white;
}
