<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav th:fragment="mainNavbar (subcategoriesMap)"
     class="navbar navbar-expand-md navbar-light bg-white border-bottom py-4 px-5 fixed-top">
    <a th:text="#{app.name}" href="/" class="navbar-brand ml-5 pl-4 font-weight-bold">Reverse Auction</a>
    <div class="navbar-collapse mr-auto" id="navbarForm">
        <ul class="navbar-nav ml-auto order-1">
            <li class="nav-item dropdown mr-2">
                <a class="nav-link" style="cursor: pointer; white-space: nowrap"
                   id="userBarDropdown"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-user fa-lg" style="display: inline"></i>
                    <span th:text="#{app.main.navbar.userbar}">Moje Konto</span>
                    <i class="fas fa-angle-down pl-2"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right m-0 rounded-0" style="width: 200px;"
                     aria-labelledby="userBarDropdown">


                    <span sec:authorize="isAuthenticated()">
                        <a th:text="#{app.main.navbar.userbar.user}" class="dropdown-item text-center"
                           href="/user">Profil</a>
                          <a th:text="#{app.main.navbar.userbar.addAuction}" class="dropdown-item text-center"
                             href="/addAuction">Załóż Aukcję</a>
                        <a th:text="#{app.main.navbar.userbar.auction}" class="dropdown-item text-center"
                           href="/user/my-auctions">Moje Aukcje</a>
                        <a th:text="#{app.main.navbar.userbar.offer}" class="dropdown-item text-center"
                           href="/user/my-offers">Moje Oferty</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item text-center" href="">
                        <span th:text="#{app.main.navbar.userbar.config}"></span><i
                                class="fa fa-cog fa-lg pl-3 ml-auto"></i>
                        </a>
                    </span>

                    <span sec:authorize="!isAuthenticated()">
                          <a th:text="#{app.main.navbar.userbar.addAuction}" class="dropdown-item text-center"
                             href="/addAuction">Załóż Aukcję</a>
                    <a th:text="#{app.main.navbar.userbar.auction}" class="dropdown-item text-center"
                       href="/signIn">Moje Aukcje</a>
                        <a th:text="#{app.main.navbar.userbar.offer}" class="dropdown-item text-center"
                           href="/signIn">Moje Oferty</a>
                        <div class="dropdown-divider"></div>
                    <a th:text="#{app.main.navbar.userbar.config}" class="dropdown-item text-center" href="">Ustawienia
                        <i class="fa fa-cog fa-lg pl-3 ml-auto"></i>
                    </a>
                    </span>

                    <div class="dropdown-divider"></div>

                    <span sec:authorize="!isAuthenticated()">
                    <a th:text="#{app.main.loginButton}" class="btn btn-warning rounded-0 text-secondary w-100"
                       th:href="@{/signIn}">Zaloguj</a>
                    <a th:text="#{app.main.signUpButton}" class="dropdown-item text-center pt-1" th:href="@{/signUp}">Zarejstruj
                        się</a>
                    </span>
                    <span sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-warning rounded-0 text-secondary w-100"
                                   value="Wyloguj"/>
                        </form>
                    </span>

                </div>
            </li>
            <li class="nav-item">
                <div class="h-100" style=" display:flex; align-items:center;">
                    <span sec:authorize="isAuthenticated()" style="white-space: nowrap;">
                        Witaj <span sec:authentication="name"></span>
                    </span>
                </div>
            </li>

        </ul>
        <form class="mx-2 my-auto d-inline w-100 order-0 p-0" method="GET" action="/searchAuction">
            <div class="input-group p-0 m-0">
                <input name="auctionName" type="text" class="form-control border rounded-0 m-0 w-auto"
                       placeholder="Co dziś chcesz zaoferować?">
                <span class="input-group-append p-0 m-0">
                    <select class="selectpicker m-0 border p-0" name="categoryId">
                        <option th:text="#{app.main.navbar.userbar.select.option}" value="0" selected>Wszędzie</option>
                        <option th:each="category: ${subcategoriesMap}" th:value="${category.key.id}"
                                th:text="${category.key.categoryName}"></option>
                    </select>
                </span>
                <span class="input-group-append p-0 m-0">
                    <button class="btn btn-info rounded-0 m-0 p-0" type="submit">
                        <b th:text="#{app.main.search}">Szukaj</b>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>
<nav th:fragment="categoryNavbar (subcategoriesMap)" class="navbar navbar-expand navbar-light bg-white p-0">
    <div class="navbar m-0 p-0">
        <ul class="navbar-nav m-0">
            <li class="nav-item ml-3 p-0 border-right border-left dropdown" style="width: 200px">
                <a class="nav-link py-3 px-4 text-dark categoryButton"
                   style="cursor: pointer;"
                   id="categoryDropDown"
                   aria-haspopup="true"
                   aria-expanded="false" data-toggle="dropdown">
                    <span th:text="#{app.main.category}">Kategorie</span>
                    <i class="fas fa-angle-down pl-5 pr-0"></i>
                </a>
                <div class="dropdown-menu categoryNav border rounded-0 mt-0 p-0"
                     aria-labelledby="categoryDropDown">
                    <div class="categoryBox">
                        <div class="border-right p-0 m-0"
                             style="width: 198px">
                            <div th:each="category:${subcategoriesMap}"
                                 th:id="'category_' + ${category.key.id}"
                                 class="pt-3 pl-3 categoryItem">
                                <a th:text="${category.key.categoryName}"
                                   class="nav-link font-weight-bold"
                                   th:href="@{/category/{category}(category = ${category.key.id})}">
                                </a>
                            </div>
                        </div>
                        <div class="subcategoryBox">
                            <div class="ile">
                                <div th:each="category: ${subcategoriesMap}"
                                     th:id="'subcategory_' + ${category.key.id}"
                                     class="subcategoryItem px-4 py-2">
                                    <ul>
                                        <li th:each="subcategory: ${category.value}"
                                            class="pt-3 pl-2 pr-5">
                                            <a th:text="${subcategory.name}" class=""
                                               th:href="@{/category/{category}/{subcategory}(category=${category.key.id},subcategory=${subcategory.id})}">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>