<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="addOffer" class="container-fluid mt-3">
    <form class="row" th:action="@{/getAuction/{id}/addOffer(id=${auction.id})}" th:object="${offer}" method="post">

        <div class="container">
            <div class="p-1 bd-highlight"></div>
            <div th:text="'Dodaj ofertę'" class="p-1 bd-highlight center"></div>
            <div>
                <input hidden="hidden" th:object="${auction}">
                <div>
                    <div th:text="'Tytuł:'">
                    </div>
                    <div>
                        <input class="p-2 bd-highlight bcwrite w-100" th:placeholder="'tytuł'" type="text"
                               th:field="*{title}"/>
                    </div>
                </div>
                <div>
                    <div th:text="'Cena:'">
                    </div>
                    <div>
                        <input class="p-2 bd-highlight bcwrite" th:placeholder="'cena'" type="text"
                               th:field="*{price}"/>
                    </div>
                </div>
            </div>
            <div>
                <div th:text="'Opis:'">
                </div>
                <div>
                <textarea rows="5" cols="42" class="p-2 bd-highlight bcwrite" th:placeholder="'opis'" th:field="*{description}">
                </textarea>
                </div>
            </div>
            <div class="p-3 bd-highlight">
            </div>
            <input class="btn btn-warning rounded-0 font-weight-bold" type="submit" value="Dodaj ofertę">
            <div class="p-3 bd-highlight">
            </div>
        </div>
    </form>
</div>
</body>
</html>