<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="signInForm" class="container-fluid mt-3">
            <div class="container ">
                <div class="row justify-content-center border p-5 userLoginPanel">
                    <div class="col-6 w-100">
                        <!--/*@thymesVar id="user" type="pl.reverseAuctions.user.User"*/-->
                        <form class="" th:method="post" th:action="@{/signIn}" th:object="${user}">
                            <fieldset class="form-group row py-4">
                                <legend th:text="#{app.main.signIn.header}" class="col-form-legend col-sm-12"><b>Zaloguj
                                    się, aby odkryć oferty</b></legend>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label th:text="#{app.main.singIn.loginLabel}" for="userPasswordInput">Login/Email</label>
                                            <input th:field="*{username}" type="text"
                                                   name="userLoginInput" id="userLoginInput"
                                                   class="form-control rounded-0"
                                                   style="width: 100%"
                                                   placeholder="exemple@exemple.pl"
                                                   aria-describedby="userLoginInputHelp">
                                            <small th:text="#{app.main.singIn.loginLabel.helper}"
                                                   id="userLoginInputHelp" class="text-muted">Wprowadź login lub
                                                e-mail
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label th:text="#{app.main.singIn.passwordLabel}" for="userPasswordInput">Hasło</label>
                                            <input th:field="*{password}" type="password"
                                                   name="userPasswordInput" id="userPasswordInput"
                                                   class="form-control rounded-0"
                                                   placeholder="Hasło"
                                                   aria-describedby="userPassowordInputHelp">
                                            <small th:text="#{app.main.singIn.passwordLabel.helper}"
                                                   id="userPassowordInputHelp" class="text-muted">Wprowadź hasło
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <a th:text="#{app.main.signIn.remindPassword}" th:href="@{/resetPassword}"
                                   class="d-flex justify-content-end">Nie pamiętasz hasła?</a>
                            </fieldset>
                            <div class="form-group row">
                                <div class="col-sm-12 d-flex justify-content-end p-0">
                                    <button th:text="#{app.main.loginButton}" type="submit"
                                            class="btn btn-warning rounded-0 font-weight-bold">Zaloguj się
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row mt-2">
                            <div class="d-flex justify-content-start">
                                <span th:text="#{app.main.signIn.firstTime}" class="font-weight-bold d-inline-block">Jesteś pierwszy raz?</span>
                                <a th:text="#{app.main.signIn.register}" class="pl-3" href="signUp">ZAREJESTRUJ SIĘ!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex">
                            <p>Tutaj można jakąś reklamę wcisnąć</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>