<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">>
<body>

<div th:fragment="userProfileNavbar" class="sidenav-back">
    <div class="sidenav">
        <a href="/user" id="user-profile-button">Profil</a>
        <a href="/user/new-auction" id="user-new-auction-button">NOWA AUKCJA</a>
        <a href="/user/my-auctions" id="user-my-auctions-button">Moje Aukcje</a>
        <a href="/user/my-offers" id="user-my-offers-button">Moje Oferty</a>
        <a href="#" id="user-informations-button">Informacje</a>
        <a href="#" id="user-properties-button">Ustawienia</a>
        <br/>
        <a href="#" id="user-logout-button">Wyloguj</a>
    </div>
</div>

</body>
</html>