.description {
    text-align: center;
    width: 50%;
}

.info {
    text-align: center;
    width: 50%;
}

.values {
    text-align: center;
}

.names {
    text-align: center;
    background-color: #d4d4d4;
    border: solid black 1px;
}

.title {
    margin-left: 15%;
    margin-right: 15%;
}

.offerList {
    overflow-y: scroll;
}

.bccolor {
    background-color: white;
}

.blue {
    background-color: blue;
}