html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #edeff1;
    margin-top: 88px;
    margin-bottom: 50px;
    border-top: 2px solid #004ffe;
}

.container-fluid .row {
    clear: both;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #1f1f1f;
}

a:hover {
    text-decoration: none;
}

.userLoginPanel {
    background-color: white;
}

.dropdownRadiobox {
    opacity: 0;
    position: absolute;
}

.selectpickier.dropdown {
    max-width: 1px;
}

.selectpickier + button {
    background-color: white;
}

button.btn:nth-child(2) {
    background-color: white;
}

#navbarForm > form > div > span:nth-child(2) > div > div {
    margin-top: 0;
    border-radius: 0;
    width: 250px;
    margin-left: -1px;
}

#navbarForm > form > div > span * {
    border-radius: 0;
    border-color: #dee2e6 !important;
}

#navbarForm > form > div > span {
    max-width: 200px;
}

#navbarForm button[type="submit"] {
    width: 120px;
    border: 0;
}

div.dropdown.bootstrap-select.m-0.border button.btn.dropdown-toggle.btn-light {
    height: 100%;
    line-height: 1.5;
}

.categoryNav a {
    cursor: pointer;
    font-size: 1rem;
}

.categoryBox {
    display: flex;
    position: relative;
    float: left;
    overflow: visible;
}

.categoryItem > a:hover {
    background-color: #25b5fe;
    color: white !important;
}

.subcategoryBox {
    display: flex;
    position: relative;
    float: right;
    width: 800px;
    height: 400px;
}

.subcategoryBox > div {
    display: flex;
    padding: 3px;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    align-content: flex-start;
}

.subcategoryBox > div ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 0;
}

.subcategoryBox > div ul li {
    list-style-type: none;
}

.subcategoryBox a {
    color: #953afe;
}

.subcategoryBox a:hover {
    color: black;
}

.error {
    color: red !important;
}
