.userLoginPanel {
    background-color: white;
}

.sidenav {
    box-shadow: 0 0 20px 10px rgba(0,0,0, 0.25);
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 250px;
    left: 30px;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidenav a {
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: gray;
    display: block;
}

.sidenav a:hover {
    color: blue;
}

.sidenav a:active {
    color: white;
    background-color: blue;
}

/* Style page content */
.user-main {
    margin-top: 10px;
    margin-right: 20px;
    padding-top: 10px;
}

.main-back {
    box-shadow: 0 20px 10px rgba(0,0,0, 0.25);
    background-color: white;
    margin-left: 330px;
    width: 1100px;
    height: 470px;
    overflow-y: scroll;

}

#user-new-auction-button {
    font-weight: bold;
    font-size: 22px;
}

.user-auction-result {
    width: 1050px;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 20px;
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}

.user-offer-result {
    width: 1050px;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 20px;
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}

.user-main div:hover {
    box-shadow: 0 0 5px 5px rgba(0,0,0, 0.3);
}

.user-profile-main {
    display: inline-block;
    background-color: white;
    height: 550px;
    width: 1100px;
    margin-top: 20px;
    margin-left: 320px;
}

.user-detail-info {
    height: 350px;
    width: 500px;
    float: left;
    padding-left: 2%;
    margin-right: 30px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.user-detail-address {
    float: left;
    height: 350px;
    width: 500px;
    padding: 1% 1% 1%;
    margin-right: 30px;
    background-color: antiquewhite;
    border: 1px solid black;
    overflow-y: scroll;
}

#user-profile-login {
    padding: 20px 40px;
}

.user-detail {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    padding-left: 20px;
}

.user-detail-table, .user-detail-table-edit {
    text-align: right;
    border: 1px solid antiquewhite;
    width: 350px;
    margin-top: 70px;
    margin-left: 50px;

}

.user-detail-table {
    border-collapse: separate;
    border-spacing: 3px;
}

.user-detail-table tr {
    border: 1px solid antiquewhite;
    height: 25px;
    vertical-align: middle;
}

.user-detail-table-edit tr {
    border: 1px solid antiquewhite;
    vertical-align: middle;
}

.user-detail-table td {
    font-size: 20px;
    height: 25px;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    vertical-align: middle;
}

.user-detail-data {
    font-size: 20px;
    color: black;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;

}

.user-detail-data-email {
    font-size: 16px;
    color: black;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;

}

.user-detail-data-edit {
    font-size: 18px;
    color: black;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    size: 15px;
    width: 200px;
    margin-left: 20px;
}

.user-detail-date-edit {
    size: 15px;
    width: 200px;
    /*margin-left: -100px;*/

}

.address-table {
    text-align: right;
    border: 1px solid white;
    width: 400px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.user-address {
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 10px;
    background-color: white;
    margin: 5px;
    display: flex;
    /*overflow-y: hidden;*/
}

.address-detail {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: gray;
}

.address-data {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
    overflow-x: paged-x;
}

/*#address-hover div:hover {*/
    /*box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);*/
/*}*/

#address-detail-head {
    size: 22px;
    font-weight: bold;
    text-align: left;
}

#my-offer-title {
    width: 400px;
}

#my-offer-price {
    width: 200px;
    display: inline;
}

#my-offer-created {
    width: 200px;
    display: inline;
}

#my-offer-link {
    margin-left: 100px;
    display: inline;
}

.my-offer-to-auction-link {
    color: white;
}

#my-auction-title {
    width: 400px;
}

#my-auction-view {
    width: 200px;
    display: inline;
}

#my-auction-endtime {
    width: 200px;
    display: inline;
}

#my-auction-link {
    margin-left: 100px;
    display: inline;
}

a:hover {
    color: gold;
}

.user-main-header {
    color: white;
    background-color: gray;
    border-bottom: 2px solid blue;
    margin-top: 20px;
    margin-left: 330px;
    height: 80px;
    width: 1100px;
}

#my-offer-header-0 {
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
}

#my-offer-header-1 {
    font-size: 15px;
    width: 400px;
    padding-left: 40px;
    display: inline-block;
}

#my-offer-header-2 {
    font-size: 15px;
    width: 200px;
    padding-left: 30px;
    display: inline-block;
}

#my-offer-header-3 {
    font-size: 15px;
    width: 200px;
    padding-left: 30px;
    display: inline-block;
}

.link-button {
    background-color: white;
    color: grey;
    border: 2px solid;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    display: inline-block;
    z-index: 1;
}

.link-button-confirmation {
    background-color: white;
    color: grey;
    border: 2px solid;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-left: 50%;
    display: inline-block;
    z-index: 1;
    vertical-align: middle;
}


.link-button:hover {
    color: blue;
}

.link-button-confirmation:hover {
    color: blue;
}

.link-button-address {
    background-color: white;
    color: grey;
    border: 2px solid;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
    display: inline-block;
    z-index: 1;
}

.link-button-delete-address {
    background-color: white;
    color: grey;
    border: 2px solid;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /*margin-top: -60px;*/
    margin-right: 30px;
    float: right;
    display: inline-block;
    z-index: 1;
}

.link-button-address:hover {
    color: blue;
}

.link-button-delete-address:hover {
    color: blue;
}

.user-detail-info-back {
    height: 350px;
    width: 500px;
    float: left;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 30px;
}

.user-detail-address-back {
    height: 350px;
    width: 500px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.user-edit-form {
    margin-left: 30px;
}

.edit-confirmation {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
}

.user-detail-address-useredit {
    float: left;
    height: 350px;
    width: 500px;
    padding: 1% 1% 1%;
    margin-right: 30px;
    background-color: antiquewhite;
    border: 1px solid black;
}

.user-address-table-edit {
    text-align: right;
    border: 1px solid antiquewhite;
    width: 350px;
    margin-top: 70px;
    margin-left: 20px;
}

.user-address-table-edit tr {
    border: 1px solid antiquewhite;
    vertical-align: middle;
}

.user-address-table-edit td {
    font-size: 20px;
    height: 25px;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    vertical-align: middle;
}

.link-button-add {
    background-color: white;
    color: grey;
    border: 2px solid;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    display: inline-block;
    z-index: 1;
}

.link-button-add:hover {
    color: blue;
}

.address-delete {
    margin-top: 110px;
    margin-right: 20px;
}