<!DOCTYPE HTML>
<!--/*@thymesVar id="subcategoriesMap" type="java.util.Map"*/-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/mainPage"
      th:with="pageTitle = #{app.main.page}, subcategoriesMap = ${subcategoriesMap}, pageCSS = #{app.pageCSS.auction}">
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="p-3 bd-highlight"></div>
        <div th:text="${auction.name}" class="p-1 bd-highlight title values bccolor"></div>
        <div class="d-flex flex-row bccolor title">
            <div class="w-50 names">
                <img src="" th:text="'Miejsce na zdjęcie'">
            </div>
            <div class="p-2 info">
                <div th:text="'Użytkownik:' + ${auction.user.username}" class="p-2 names"></div>
                <div th:text="'Początek:' + ${auction.startTime}" class="p-2 names"></div>
                <div th:text="'Koniec:' + ${auction.endTime}" class="p-2 names"></div>
                <div th:text="'Wyświetlenia:' + ${auction.view}" class="p-2 names"></div>
                <div th:if="${offerList.size() != 0}" th:text="'Wygrywająca oferta:' + ${#numbers.formatDecimal((offerList.get(0).price), 1, 2)} + ' PLN'" class="p-2 names"></div>
                <div th:if="${offerList.size() == 0}" th:text="'Aktualnie brak ofert.'" class="p-2 bd-highlight values names"></div>
                <div style="text-align: center"><a th:text="'Dodaj ofertę'" class="btn btn-warning rounded-0 font-weight-bold"
                                                   th:href="@{/getAuction/{id}/addOffer(id=${auction.id})}"></a>
                </div>
            </div>
        </div>
        <div class="values names title" th:utext="${auction.description}"></div>
        <div th:if="${offerList.size() != 0}" th:text="'Oferty:'" class="py-2 bd-highlight names title"></div>
        <div th:if="${offerList.size() != 0}" class="d-flex flex-row title bccolor">
            <div th:text="'Tytuł:'" class="py-2 w-50 h-100 names"></div>
            <div th:text="'Cena:'" class="py-2 w-50 h-100 names"></div>
        </div>
        <div th:if="${offerList.size() != 0}" class="py-2 title values names bccolor">
            <div th:each="offer: ${offerList}">
                <a th:href="@{/showOffer/{id}(id=${offer.id})}" class="d-flex flex-row">
                    <div th:text="${offer.title}" class="py-3"></div>
                    <div th:if="${offer}" th:text="${#numbers.formatDecimal((offer.price), 1, 2)} + ' PLN'"
                         class="py-3 ml-auto"></div>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>