<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/mainPage"
      th:with="pageTitle = #{app.main.page}, subcategoriesMap = ${subcategoriesMap}, pageCSS=#{app.pageCSS.userProfile}">

<body>
<section layout:fragment="content">
    <section
    <!-- Side navigation -->
    <div th:include="fragments/userProfileNavbar ::	userProfileNavbar"></div>

    <!-- Page content -->
    <div class="user-profile-main">
        <h1 id="user-profile-login" th:text="${user.username}">User_Login</h1>
        <div th:each="address: ${addressList}">
            <table>
                <tr>
                    <td th:text="${address.id}"></td>
                    <td th:text="${address.street}"></td>
                    <td th:text="${address.city}"></td>
                    <td>
                        <form th:action="@{/user/delete-address}" th:object="${address}" method="post">
                        <input type="hidden" th:field="*{id}" th:value="${address.id}" />
                        <input type="submit" class="link-button">Delete</input>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

</body>
</html>